/Ada
/Books
/Certificados
/CV Randerson Mota.pdf
/Dark-Souls-Documents
/data_files_challenge
/ipynb drafts
/JP
/noise.mp3
/noise_4h.mp3
/old resumes
/PJO Roteiros
/r.Rmd
/Resume Randerson Adamo.pdf
/teste git
/zips
/ZSAS_old.ipynb
/__pycache__